# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs
/Debug/AddANDgate2.sbr
/Debug/ApplicationManager.sbr
/Debug/jcomapi.sbr
/Debug/jcparam.sbr
/Debug/jdapimin.sbr
/Debug/jdapistd.sbr
/Debug/jdatasrc.sbr
/Debug/jdcoefct.sbr
/Debug/jdcolor.sbr
/Debug/jddctmgr.sbr
/Debug/jdhuff.sbr
/Debug/jdinput.sbr
/Debug/jdmainct.sbr
/Debug/jdmarker.sbr
/Debug/jdmaster.sbr
/Debug/jdmerge.sbr
/Debug/jdphuff.sbr
/Debug/jdpostct.sbr
/Debug/jdsample.sbr
/Debug/jdtrans.sbr
/Debug/jerror.sbr
/Debug/jidctflt.sbr
/Debug/jidctfst.sbr
/Debug/jidctint.sbr
/Debug/jidctred.sbr
/Debug/jmemmgr.sbr
/Debug/jmemnobs.sbr
/Debug/jpegload.sbr
/Debug/jquant1.sbr
/Debug/jquant2.sbr
/Debug/jutils.sbr
/Debug/Move.sbr
/Debug/Redo.sbr
/Debug/Undo.sbr
/Debug/vc143.idb
/Debug/graphics_prj.tlog/graphics_prj.lastbuildstate
/Debug/graphics_prj.tlog/link.26272-cvtres.read.1.tlog
/Debug/graphics_prj.tlog/link.26272-cvtres.write.1.tlog
/Debug/graphics_prj.tlog/link.26272-rc.read.1.tlog
/Debug/graphics_prj.tlog/link.26272-rc.write.1.tlog
/Debug/graphics_prj.tlog/link.26272.read.1.tlog
/Debug/graphics_prj.tlog/link.26272.write.1.tlog
/Debug/graphics_prj.tlog/CL.read.1.tlog
/Debug/graphics_prj.tlog/CL.write.1.tlog
/Debug/graphics_prj.tlog/CL.command.1.tlog
