# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs
/Debug
/Debug/AddANDgate3.sbr
/Debug/AddBUFF.sbr
/Debug/AddConnection.sbr
/Debug/AddINV.sbr
/Debug/AddNANDgate2.sbr
/Debug/AddNORgate2.sbr
/Debug/AddNORgate3.sbr
/Debug/AddORgate2.sbr
/Debug/AddXNORgate2.sbr
/Debug/AddXORgate2.sbr
/Debug/AddXORgate3.sbr
/Debug/AND2.sbr
/Debug/AND3.sbr
/Debug/auxil.sbr
/Debug/BUFF.sbr
/Debug/CMUgraphics.sbr
/Debug/Component.sbr
/Debug/Connection.sbr
/Debug/Gate.sbr
/Debug/image.sbr
/Debug/Input.sbr
/Debug/InputPin.sbr
/Debug/INV.sbr
/Debug/keyqueue.sbr
/Debug/main.sbr
/Debug/mousequeue.sbr
/Debug/NAND2.sbr
/Debug/NOR2.sbr
/Debug/NOR3.sbr
/Debug/OR2.sbr
/Debug/Output.sbr
/Debug/OutputPin.sbr
/Debug/Pin.sbr
/Debug/Select.sbr
/Debug/vc143.idb
/Debug/windowinput.sbr
/Debug/XNOR2.sbr
/Debug/XOR2.sbr
/Debug/XOR3.sbr
/Debug/vc143.idb
